body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background: linear-gradient(to top, black, blue); /* Gradient background */
    height: 300vh;
}
.slide {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex-direction: column;
    color: white;
}

.slide-1 {
    background-color: #6ccff9;
    position: relative;
    font-size: 2rem;
    padding-top: 0px;
}

.slide-1 .slide-text {
    font-size: 2rem;
    margin-bottom: 10px;
    color: white;
}

.slide-1 .slide-subtext {
    font-size: 1.5rem;
    color: white;
    max-width: 90%;
    line-height: 1.3;
    margin-top: 10px;
}

.bullet-points div {
    font-size: 1rem;
}

.slide-2 {
    /*background-color: rgb(28, 171, 235);*/
    position: relative;
    font-size: 2rem;
    padding-top: 0px;
}

.slide-3 {
    /*background-color: #ffc107;*/
    /*background-color: rgba(255, 193, 7, 0.8);*/
}

.slides-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.slides-container > .slide {
    scroll-snap-align: start;
}

.svg-container {
    position: absolute; /* Permet de positionner par rapport au parent */
    bottom: 0; /* Place l'élément en bas */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Ajuste le centrage */
    width: 100%; /* Facultatif : Ajustez la taille au besoin */
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.slide-1 .bullet-points li,
.slide-2 .bullet-points li,
.slide-3 .bullet-points li,
.slide-4 .bullet-points li,
.slide-5 .bullet-points li{
    font-size: 2rem; /* Taille de police des bullet-points */
    text-align: center;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
}

.slide-1 .bullet-points li,
.slide-2 .bullet-points li
.slide-3 .bullet-points li,
.slide-4 .bullet-points li,
.slide-5 .bullet-points li{
    margin: 20px 0;
}
